* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {

    height: 289.8px;
    width: 1503.2px;
    margin: 0.5rem;
}

.img {
    display: flex;
    width: 100%;
    height: 50%;

    align-items: center;
    justify-content: center;

}

.search {
    height: 25%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
    margin-left: 5%;
    margin-right: 5%;

}

.search input {
    width: 20rem;
}

.btn {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.btn button {
    margin: 0 2px;
    width: 7rem;
    height: 1.5rem;
    font-size: 0.7rem;
}

.links {
    height: 25%;
    display: flex;
    margin: 0 5%;

}

#link1 {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9px;
    background-color: #7EE5DA;

}

#link2 {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9px;
    background-color: #70CCC2;
    font-size: 0.80rem;
    border-right: 2px white solid;
    border-left: 2px white solid;
    
}

#link3 {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #62B3AA;
}

p {
    font-size: 12px;
}

.btn2 {
    font-size: small;
}

.end {
    padding-top: 10px;
    text-align: center;
}
